*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.app{
  min-height: 100vh;
  display: grid;
background: rgb(27,89,198);
background: linear-gradient(0deg, rgba(27,89,198,0.9783549783549783) 0%, rgba(101,165,246,0.6363636363636364) 100%);

 }
  
