.weatherOne{
    place-self: center;
    padding: 50px;
    border: 5px double white;
    border-radius: 12px;
    background-image: linear-gradient(-45deg, rgba(22,75,167,0.6601731601731602) 0%, rgba(5,42,108,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.searchBar{
    display:flex;
    align-items:center;
    gap: 11px;
}

.searchBar input{
    height: 36px;
    
    outline: none;
    border-radius:35px;
    padding-left:25px;
    font-size: 23px;
    background: whitesmoke;
}

.magGlass{
    padding:5px;
    height: 40px;
   
    border-radius:50%;
    background: whitesmoke;
    cursor:pointer;
}

.weather-icon{
    width:175px;
    height:175px;
    margin: 29px 0;
}

.temp{
    color:rgb(243, 245, 237);
    font-size:54px;
    margin-bottom:13px;
}

.city{
    color:rgb(243, 245, 237);
    font-size:24px;
}

.weathData{
    width: 100%;
    margin-top: 20px;
    
    display:flex;
    justify-content: space-between; 
    font-size: 20px;
}
.weathData p {
    color:white;
    margin-bottom: 5px;
}
.weathData span{
    color:white;
} 

.weathData .col{
    display:flex;
    align-items: flex-start;
    gap:16px;
  

}